.delete {
     border: none,
     color: #ffffff,
     background-color: blue,
     border-radius: 4px,
     width: 100px,
     height: 25px
}

.add {
   border: none,
   background-color: blue,
   color: #ffffff, 
   border-radius: 4px, 
   width: 100px, 
   height: 25px
}
